*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: gold;
    font-family: 'Mulish', sans-serif;
}
.header {
    background-color: black;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.header__imag--logo{
    width: 14.5rem;
    height: 8rem;
}
  .header__menu {
    margin-right: 3rem;
  }
  .header__menu ul {
    display: none;
    list-style: none;
    position: absolute;
    width: 10rem;
    text-align: right;
    margin: 0rem 0rem 0rem -1.4rem;
  }
  .header__menu:hover ul, ul:hover {
    display: block;
  }
  .header__menu li {
    margin: 1rem 0rem;
    color: white;
  }
  .header__menu li a {
    text-decoration: none;    
  }
  .header__menu li a:hover {
      text-decoration: underline;   
      color:navy;  
  }
  .header__menu--profile {
    margin-right: .8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .header__menu--profile img {
    margin-right: .8rem;
    width: 4rem;
  }
  .header__menu--profile p {
    color: white;
  }
  .main {
    height: 70vh;
  }
  .main__title {
    color: white;
    font-size: 2.5rem;
  }
  .input {
    background-color: rgba(255, 255, 255, 0.1);
    border: .2rem solid white;
    border-radius: 3rem;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    height: 9vh;
    padding: 0rem 2rem;
    width: 70%;
  }
  ::placeholder {
    color: white;
  }
  .carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
  }
  .carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px; 
  }
  .carousel__item {
    background-color: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  .carousel__item:hover ~ .carousel__item {
    transform: translate3d(100px, 0, 0);
  }
  .carousel__container:hover .carousel__item {
    opacity: 0.3;
  }
  .carousel__container:hover .carousel__item:hover {
    transform: scale(1.5);
    opacity: 1;
  }